@charset "UTF-8";
p{
  color:green;
  font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "Serif";
  font-size: 16px;
  line-height: 18px;
  width: 600px;
  background-color: antiquewhite;
  padding:20px;
}

h1, h2{
font-family: Gotham, "Helvetica Neue", Helevetica, Arial, "sans-serif";
color:black;
}
span {color: rgb(255,0,255)}
.pozadina{
  background-image: url("foto/pozadina.jpg")
}

a:link {
  color: blue;
  background-color: white;
  padding: 5px;
  line-height: 40px;
  border: 1px solid #000000
}
a:hover
{
  background-color: pink;
}
 img {
height: 200px;
 }
